<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/admin.css">
</head>
<body>
    <%- include('./partials/header') %>
    <div class="container">
        <div class="row justify-content-center">
            <div class="forms col-sm-12 col-lg-5 mx-4">
                <h3>New breed</h3>
                <form action="/admin/breeds/new" method="POST">
                    <label for="breedName">Breed name</label>
                    <input class="form-control" type="text" id="breedName" name="breedName" placeholder="Name...">
                    <br>
                    <label for="originCountry">Country of origin</label>
                    <input class="form-control" type="text" id="originCountry" name="originCountry" placeholder="Country...">
                    <br>

                    <button class="btn btn-primary submit-button" type="submit">Create breed</button>
                </form>
            </div>
            <!--<div class="forms col-sm-12 col-lg-5 mx-4">
                <h3>Delete breed</h3>
                <form action="/admin/breeds/delete?_method=DELETE" method="POST">
                    <label for="breed">Breed to delete</label>
                    <select class="form-control" id="breed" name="breed">
                        breeds.forEach(breed => {
                            <option>breed.name</option>
                        })
                    </select>
                    <br>
                    <button class="btn btn-danger" type="submit">Delete breed</button>
                </form>
            </div>-->
        </div>

        <div class="users-table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Role</th>
                        <th scope="col">Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %></td>
                            <td><%= user.contact.email %></td>
                            <td><%= user.contact.phone %></td>
                            <td><%= user.role %></td>
                            <td>
                                <form action="/admin/deleteuser/<%= user.id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!--<script src="/static/frontend_js/index.js"></script>-->
</body>
</html>